/* General stylings */
html, body {
  height: 100%;
}

body {
  background-color:#efefef;
}

header h1 small:before {
  content:    "|";
  margin:     0 0.5em;
  font-size:  1.6em;
}

/* Add a middle dot between list elements */
li.list-elem:last-child {
  padding-right: 0px;
}

li.list-elem:before {
  content: "\00B7";
  font-size: 150%;
  padding-right: 15px;
}

figure.ink-image {
  border: 0;
}

/* Wrap text around thumbnail images */
.wrap-text .thumbnail-img {
  float: left;
  max-width: 152px;
  min-width: 152px;
  padding: 5px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;  
}

/* Fixed width column */
.right-side-ads a {
  display: block;
}

.highlight-wrapper {
  overflow: hidden;
}

@media screen and ( min-width: 1261px ) {
  /* X-LARGE */
  .highlight {
    padding-right: 345px;
  }

  .right-side-ads {
    width: 310px;
  }
}

@media screen and ( min-width: 961px ) and ( max-width: 1260px ) {
  /* LARGE */
  .highlight {
    padding-right: 345px;
  }

  .right-side-ads {
    width: 310px;
  }
}

@media screen and ( min-width: 641px ) and ( max-width: 960px ) {
  /* MEDIUM */
  .highlight {
    padding-right: 245px;
  }

  .right-side-ads {
    width: 210px;
  }
}

@media screen and ( min-width: 321px ) and ( max-width: 640px ) {
  /* SMALL */
  .highlight {
    padding-right: 0px;
  }

  .right-side-ads {
    width: 310px;
  }
}

@media screen and ( max-width: 320px ) {
  /* TINY */
  .highlight {
    padding-right: 0px;
  }

  .right-side-ads {
    width: 310px;
  }
}
/* Fixed width column */

