/* General stylings */
html, body {
  height: 100%;
}

body {
  background-color:#efefef;
}

header h1 small:before {
  content:    "|";
  margin:     0 0.5em;
  font-size:  1.6em;
}

/* Wrap text around thumbnail images */
.wrap-text .thumbnail-img {
  float: left;
  max-width: 152px;
  min-width: 152px;
  padding: 5px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;  
}
