.user-profile {
    min-height: 140px;
}

.user-avatar {
    float: left;
    margin-right: 16px;
    margin-bottom: 16px;
}

ul.aflafrettir-list {
    list-style-type: none;
    padding: 0px;
}

li.aflafrettir {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
    padding: 10px;
}

li.aflafrettir:hover {
    background-color: #f8f8f8;
}

div.aflafrettir-header h2 {
    font-size: 200%;
    margin: 5px 0px 15px 0px;
}

div.aflafrettir-header h3 {
    font-size: 115%;
    margin: 0px 0px 10px 0px;
}

div.aflafrettir-header p {
    font-size: 90%;
    font-style: italic;
    margin: 20px 0px 0px 0px;
}

div.aflafrettir-video {
    width: 450px;
    max-width: 450px;
    display: inline-block;
    margin: 5px;
    vertical-align: middle;
}

div.aflafrettir-slides {
    width: 450px;
    max-width: 450px;
    display: inline-block;
    margin: 5px;
    vertical-align: middle;
}

.flask-pagedown-preview {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ccc;
}

.flask-pagedown-preview h1, .comment-body h1 {
    font-size: 160%;
}

.flask-pagedown-preview h2, .comment-body h2 {
    font-size: 140%;
}

.flask-pagedown-preview h3, .comment-body h3 {
    font-size: 120%;
}

ul.comment-list {
    list-style-type: none;
    padding: 0px;
}

li.comment {
    padding: 10px;
}

ul.comment-list li.comment:nth-child(odd)
{
    background-color: #eee;
}

ul.comment-list li.comment:nth-child(even)
{
    background-color: #fff;
}

.badge-red {
    background-color:#d44;
}

/* make sidebar nav vertical */ 
@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

.navbar-static-top {
  margin-bottom:20px;
}

i {
  font-size:16px;
}

.nav > li > a {
  color:#787878;
}
  
footer {
  margin-top:20px;
  padding-top:20px;
  padding-bottom:20px;
  background-color:#efefef;
}

/* count indicator near icons */
.nav>li .count {
  position: absolute;
  bottom: 12px;
  right: 6px;
  font-size: 10px;
  font-weight: normal;
  background: rgba(51,200,51,0.55);
  color: rgba(255,255,255,0.9);
  line-height: 1em;
  padding: 2px 4px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}

/* indent 2nd level */
.list-unstyled li > ul > li {
   margin-left:10px;
   padding:8px;
}
