{% extends "admin/index.html" %}

{% block content %}
<script type="text/javascript" src="http://js.nicedit.com/nicEdit-latest.js"></script>
<script type="text/javascript">
bkLib.onDomLoaded(function() {
    new nicEditor(
      {iconsPath : "{{ url_for('static', filename='js/NicEdit/nicEditorIcons.gif') }}",
       uploadURI : "{{ url_for('admin.nicedit_upload') }}"
      }).panelInstance("body");
});
</script>

<div class="col-md-10 no-carousel" id="content">
    {% include "_warnings.html" %}

    <h1>{{ _('Um Síðuna') }}</h1>
    <form class="form form-horizontal" method="POST" role="form">
        {{ form.hidden_tag() }}

        <div class="form-group {% if form.body.errors %}has-error{% endif %}">
            {{ form.body(**{'class':'form-control', 'style':'height: 300px;'}) }}
            {% for message in form.body.errors %}
            <p class="help-block">{{ message }}</p>
            {% endfor %}
        </div>
        <br>
        {{ form.submit(**{'class': 'btn btn-default'}) }}
    </form>
</div> <!-- ./col-md-10 -->
{% endblock %}

