{% extends "admin/index.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content_center %}
<div class="col-md-10" style="top:70px;" id="content">
  {% include "_warnings.html" %}

  <div class="panel">
    <div class="panel-heading" style="background-color:#111;color:#fff;">Stjórnborð</div> 
    <div class="panel-body">
      <h1> Breyta Prófíl </h1>

      {{ wtf.quick_form(form) }}
    </div> <!-- ./panel-body -->
  </div> <!-- ./panel -->
</div> <!-- ./col-md-7 -->
{% endblock %}

