{% extends "admin/index.html" %}

{% block content %}
<div class="col-md-10 no-carousel" id="content">
    {% include "_warnings.html" %}

    <h1> {{ _('Breyta Prófíl') }}</h1>

    <form action="{{ request.path }}" 
          method="post" 
          enctype="multipart/form-data" 
          class="form" role="form">

        <div class="form-group">
            <label class="control-label" for="name">Nafn</label>
            {{ form.name(**{'class': 'form-control'}) }}
        </div>
        <div class="form-group">
            <label class="control-label" for="location">Staðsetning</label>
            {{ form.location(**{'class': 'form-control'}) }}
        </div>
        <div class="form-group">
            <label class="control-label" for="bio">Um</label>
            {{ form.bio(**{'class': 'form-control'}) }}
        </div>
        {{ form.submit(**{'class': 'btn btn-default'}) }}
    </form>
</div> <!-- ./col-md-10 -->
{% endblock %}

