{% extends "admin/index.html" %}

{% block content_main %}
<div class="col-md-10" id="content">
  {% include "_warnings.html" %}

  <div class="panel">
    <div class="panel-heading">{{ _('Stjórnborð') }}</div> 
    <div class="panel-body">
      <script type="text/javascript" src="http://feedjit.com/serve/?vv=321&amp;tft=3&amp;dd=98961e3ccdd02b4a8f25c22c9d0b200d&amp;wid=7ffe369ffa4ea809&amp;pid=a0117352e993dfb4&amp;proid=0&amp;bc=FFFFFF&amp;tc=494949&amp;brd1=341B35&amp;lnk=392441&amp;hc=FFFFFF&amp;hfc=09B800&amp;btn=629CB3&amp;ww=300&amp;fhst=aflafrettir.is&amp;wne=10&amp;srefs=0&amp;went=10"></script>
    </div> <!-- ./panel-body -->
  </div> <!-- ./panel -->
</div> <!-- ./col-md-7 -->
{% endblock %}


