{% extends "admin/index.html" %}

{% block content_main %}
<div class="col-md-10" id="content">
  {% include "_warnings.html" %}

  <div class="panel">
    <div class="panel-heading">Stjórnborð</div> 
    <div class="panel-body">
      <script type="text/javascript" src="http://feedjit.com/serve/?vv=1515&amp;tft=3&amp;dd=0&amp;wid=8835aaa00f4afda36c39dc732e4af056&amp;pid=0&amp;proid=0&amp;bc=FAFCED&amp;tc=575757&amp;brd1=41B352&amp;lnk=329441&amp;hc=FFFFFF&amp;hfc=09B800&amp;btn=6B6B6B&amp;ww=300&amp;wne=10&amp;srefs=0"></script><noscript><a href="http://feedjit.com/">Heimsóknir</a></noscript>
    </div> <!-- ./panel-body -->
  </div> <!-- ./panel -->
</div> <!-- ./col-md-7 -->
{% endblock %}


