{% extends "base.html" %}

{% block body_attribs %} {% endblock %}

{% block header %} 
{% endblock %}

{% block content_left %}
<div class="col-md-2" id="sidebar">
  <div class="panel panel-default" data-spy="affix" data-offset-top="0" data-offset-bottom="100" id="admin_left">
    <div class="panel-heading">Valmöguleikar</div>
    <div class="panel-body">
      <ul class="list-unstyled">
        <li class="nav-header">
          <a class="collapsible" href="#" data-toggle="collapse" data-target="#profile-menu">
            <h3> Prófíll </h3>
          </a>
          <ul class="list-unstyled collapse {% if request.path in [url_for('admin.profile_index'), url_for('admin.profile_edit')] %} in {% endif %}" id="profile-menu">
            <li><a href="{{ url_for('admin.profile_index') }}"> Skoða </a></li>
            <li><a href="{{ url_for('admin.profile_edit') }}"> Breyta </a></li>
          </ul> <!-- ./list-unstyled collapse in -->
        </li> <!-- ./nav-header -->
      
        <li class="nav-header">
          <a class="collapsible" href="#" data-toggle="collapse" data-target="#news-menu">
            <h3> Fréttir </h3>
          </a>
          <ul class="list-unstyled collapse {% if request.path in [url_for('admin.news_index'), url_for('admin.news_post'), url_for('admin.news_category')] %} in {% endif %}" id="news-menu">
            <li><a href="{{ url_for('admin.news_index') }}"> Yfirlit </a></li>
            <li><a href="{{ url_for('admin.news_post') }}"> Ný Frétt </a></li>
            <li><a href="{{ url_for('admin.news_category') }}"> Flokkar </a></li>
          </ul> <!-- ./list-unstyled collapse in -->
        </li> <!-- ./nav-header -->
        
        <li class="nav-header">
          <a class="collapsible" href="#" data-toggle="collapse" data-target="#ads-menu">
            <h3> Auglýsingar </h3>
          </a>
          <ul class="list-unstyled collapse {% if request.path in [url_for('admin.ad_index'), url_for('admin.ad_upload')] %} in {% endif %}" id="ads-menu">
            <li><a href="{{ url_for('admin.ad_index') }}"> Yfirlit </a></li>
            <li><a href="{{ url_for('admin.ad_upload') }}"> Ný Auglýsing </a></li>
          </ul> <!-- ./list-unstyled collapse in -->
        </li> <!-- ./nav-header -->
        
        <li class="nav-header">
          <a class="collapsible" href="#" data-toggle="collapse" data-target="#about-menu">
            <h3> Um Síðuna </h3>
          </a>
          <ul class="list-unstyled collapse {% if request.path in [url_for('admin.about')] %} in {% endif %}" id="about-menu">
            <li><a href="{{ url_for('admin.about') }}"> Yfirlit </a></li>
          </ul> <!-- ./list-unstyled collapse in -->
        </li> <!-- ./nav-header -->
        
      </ul> <!-- ./list-unstyled -->
    </div> <!-- ./panel-body -->
  </div> <!-- ./panel panel-default -->
</div> <!-- ./col-md-2 -->
{% endblock %}

{% block content_main %} {% endblock %}
