{% extends "admin/index.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
<script src="{{ url_for('static', filename='js/NicEdit/nicEdit.js') }}" type="text/javascript"></script>
<script type="text/javascript">
bkLib.onDomLoaded(function() {
        new nicEditor({iconsPath : "{{ url_for('static', filename='js/NicEdit/nicEditorIcons.gif') }}"}).panelInstance("post");
});
</script>


<div class="page-header">
  <h1> Bæta við nýrri frétt </h1>
</div>

<form class="form form-horizontal" method="post" role="form">
  {{ form.hidden_tag() }}
  {{ wtf.form_errors(form, hiddens="only") }} 

  <div class="col-xs-4">
  {{ wtf.form_field(form.title) }}
  {{ wtf.form_field(form.created) }}
  {{ wtf.form_field(form.category) }}
  </div>
  <div class="form-group {% if form.post.errors %}has-error{% endif %}">
    {{ form.post(**{'class':'form-control', 'style':'height: 300px;'}) }}
    {% for message in form.post.errors %}
      <p class="help-block">{{ message }}</p>
    {% endfor %}
  </div>
  <br>
  {{ wtf.form_field(form.submit) }}
</form>

{% endblock %}

