{% extends "admin/index.html" %}

{% block content %}
<script type="text/javascript" src="http://js.nicedit.com/nicEdit-latest.js"></script>
<script type="text/javascript">
bkLib.onDomLoaded(function() {
    new nicEditor(
      {iconsPath : "{{ url_for('static', filename='js/NicEdit/nicEditorIcons.gif') }}",
       uploadURI : "{{ url_for('admin.nicedit_upload') }}"
      }).panelInstance("post");
});
</script>

<div class="col-md-12 no-carousel" id="content">
    {% include "_warnings.html" %}

    <div class="card">
        <div class="card-block">

            <div class="card-header">
                <h1>{{ _('Bæta við nýrri frétt') }}</h1>
            </div>
            
            <form class="form form-horizontal" method="post" role="form">
                <div class="row">
                    {{ form.csrf_token }}
                
                    <div class="col-4">
                        <div class="form-group">
                            <label class="control-label" for="title">Titill</label>
                            {{ form.title(**{'class': 'form-control'}) }}
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="created">Dagsetning</label>
                            {{ form.created(**{'class': 'form-control'}) }}
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="category">Flokkur</label>
                            {{ form.category(**{'class': 'form-control'}) }}
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="facebook">Skilaboð á Facebook</label>
                            {{ form.facebook(**{'class': 'form-control'}) }}
                        </div>
                    </div>
                </div> <!-- ./row -->

                <div class="form-group {% if form.post.errors %}has-error{% endif %}">
                    {{ form.post(**{'class':'form-control', 'style':'height: 300px;'}) }}
                    {% for message in form.post.errors %}
                      <p class="help-block">{{ message }}</p>
                    {% endfor %}
                </div>
                {{ form.submit(**{'class': 'btn btn-default'}) }}
                </form>
        </div> <!-- ./card-block -->
    </div> <!-- ./card -->
</div> <!-- ./col-md-12 -->

{% endblock %}

