{% extends "admin/index.html" %}

{% block content %}
<div class="col-md-10 no-carousel" id="content">
    {% include "_warnings.html" %}

    {% if request.path == url_for('admin.ad_upload') %} 
    <h1>{{ _('Bæta við auglýsingu') }}</h1>
    {% else %}
    <h1>{{ _('Uppfæra auglýsingu') }}</h1>
    {% endif %}

    <form action="{{ request.path }}" 
          method="post" 
          enctype="multipart/form-data" 
          class="form" role="form">
        {{ form.csrf_token }}
        {% if request.path == url_for('admin.ad_upload') %} 
        <div class="form-group">
            <label class="control-label" for="ad">Skrá</label>
            {{ form.ad(**{'class': 'form-control'}) }}
        </div>
        {% endif %}
        <div class="form-group">
            <label class="control-label" for="ad_html">HTML fyrir auglýsingu</label>
            {{ form.ad_html(**{'class': 'form-control'}) }}
        </div>
        <div class="form-group">
            <label class="control-label" for="placement">Staðsetning</label>
            {{ form.placement(**{'class': 'form-control'}) }}
        </div>
        <div class="form-group">
            <label class="control-label" for="url">Tengill</label>
            {{ form.url(**{'class': 'form-control'}) }}
        </div>
        <div class="checkbox">
            <label> 
                {{ form.active() }} Auglýsing virk? 
            </label>
        </div>
        {{ form.submit(**{'class': 'btn btn-default'}) }}
    </form>
</div> <!-- ./col-md-10 -->
{% endblock %}

