{% extends "admin/index.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content_main %}
<div class="col-md-10" id="content">
  {% include "_warnings.html" %}

  <div class="panel">
    <div class="panel-heading">{{ _('Stjórnborð') }}</div> 
    <div class="panel-body">
      <h1>{{ _('Bæta við auglýsingu') }}</h1>
      
      <form action="{{ request.path }}" 
            method="post" 
            enctype="multipart/form-data" 
            class="form" role="form">
        {% if request.path == url_for('admin.ad_upload') %} 
        {{ wtf.form_field(form.ad) }}
        {% endif %}
        {{ wtf.form_field(form.ad_html) }}
        {{ wtf.form_field(form.placement) }}
        {{ wtf.form_field(form.url) }}
        {{ wtf.form_field(form.active) }}
        {{ wtf.form_field(form.submit) }}
      </form>
    </div> <!-- ./panel-body -->
  </div> <!-- ./panel -->
</div> <!-- ./col-md-7 -->
{% endblock %}

