{% extends "admin/index.html" %}

{% block content %}
<div class="col-md-10 no-carousel" id="content">
    {% include "_warnings.html" %}

    <div class="user-avatar"><img src="{{ user.gravatar(180) }}"></div>
    <h1> {{ user.username }} </h1>
    <p>
        {% if user.name %}{{ user.name }}<br>{% endif %}
        {% if user.location %}
        <a href="http://maps.google.com?q={{ user.location }}">{{ user.location }}</a><br>
        {% endif %}
        {% if user.bio %}{{ user.bio }}<br>{% endif %}
    </p>
</div> <!-- ./col-md-10 -->
{% endblock %}

