{% extends "admin/index.html" %}

{% block content_main %}
<div class="col-md-10" style="top:70px;" id="content">
  {% include "_warnings.html" %}

  <div class="panel">
    <div class="panel-heading" style="background-color:#111;color:#fff;">Stjórnborð</div> 
    <div class="panel-body">
      <div class="user-avatar"><img src="{{ user.gravatar(180) }}"></div>
      <h1> {{ user.username }} </h1>
      <p>
        {% if user.name %}{{ user.name }}<br>{% endif %}
        {% if user.location %}<a href="http://maps.google.com?q={{ user.location }}">{{ user.location }}</a><br>{% endif %}
        {% if user.bio %}{{ user.bio }}<br>{% endif %}
      </p>
    </div> <!-- ./panel-body -->
  </div> <!-- ./panel -->
</div> <!-- ./col-md-7 -->
{% endblock %}

