{% extends "aflafrettir/index.html" %}

{% block header %}
{% endblock %}

{% block content_left %}
<div class="col-md-2" id="sidebar">
  <div class="panel panel-default" id="admin_left">
    <div class="panel-heading">Flokkar</div>
    <div class="panel-body">
      <ul class="nav nav-stacked">
        <li><a href="{{ url_for('aflafrettir.category', cid=1) }}">Almenn frétt</a></li>
        {% for category in categories %}
          <li><a href="{{ url_for('aflafrettir.category', cid=category.id) }}">{{ category.name }}</a></li>
        {% endfor %}
      </ul>
    </div> <!-- ./panel-body -->
  </div> <!-- ./panel panel-default -->
</div> <!-- ./col-md-2 -->
{% endblock %}

{% block content_main %}
<div class="col-md-10" id="content">
  <div class="panel">
    <div class="panel-heading">Um Síðuna </div> 
    <div class="panel-body"> 
      <p> {{ about.body|safe }} </p>
    </div> <!-- ./panel-body -->
  </div> <!-- ./panel -->
</div> <!-- ./col-md-7 -->
{% endblock %}

{% block adbar %}
{% endblock %}

{% block disqus_comments %}
{% endblock %}
