{% extends "aflafrettir/index.html" %}

{% block content %}
<div class="row">
    <div class="col-md-1"></div>

    <div class="col-md-9" id="content">
        <div class="panel">
            <h4 class="panel-heading">{{ _('Hafa samband') }}</h4>
            <div class="panel-body">
                <form class="form form-horizontal" method="post" role="form">
                    {{ form.csrf_token }}

                    <div class="col-xs-4">
                        <div class="form-group">
                            <label class="control-label" for="name">Nafn</label>
                            {{ form.name(**{'class': 'form-control'}) }}
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="email">E-mail</label>
                            {{ form.email(**{'class': 'form-control'}) }}
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="subject">Efni</label>
                            {{ form.subject(**{'class': 'form-control'}) }}
                        </div>
                    </div>
                    <div class="form-group {% if form.message.errors %}has-error{% endif %}">
                        {{ form.message(**{'class':'form-control', 'style':'height: 300px;'}) }}
                        {% for message in form.message.errors %}
                            <p class="help-block">{{ message }}</p>
                        {% endfor %}
                    </div>
                    <br>
                    {{ form.submit(**{'class': 'btn btn-default'}) }}
                </form>
            </div> <!-- ./panel-body -->
        </div> <!-- ./panel -->
    </div> <!-- ./col-md-9 -->
</div> <!-- ./row -->
{% endblock %}

{% block disqus_comments %}
{% endblock %}
