{% extends "base.html" %}

{% block header %}
<header class="masthead">
  <div class="container">
    <div id="carousel-example-captions" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-captions" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-captions" data-slide-to="1"></li>
        <li data-target="#carousel-example-captions" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <img data-src="holder.js/1170x300/auto/#777:#777" alt="First slide image">
          <div class="carousel-caption">
            <h3>First slide label</h3>
            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
          </div>
        </div>
        <div class="item">
          <img data-src="holder.js/1170x300/auto/#666:#666" alt="Second slide image">
          <div class="carousel-caption">
            <h3>Second slide label</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </div>
        <div class="item">
          <img data-src="holder.js/1170x300/auto/#555:#5555" alt="Third slide image">
          <div class="carousel-caption">
            <h3>Third slide label</h3>
            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#carousel-example-captions" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#carousel-example-captions" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>
  </div> <!-- ./container -->
</header>
{% endblock %}

{% block content_left %}
<div class="col-md-2">
  <div class="panel panel-default" id="content_left">
    <div class="panel-heading">Flokkar</div>
    <div class="panel-body">
      <ul class="nav nav-stacked">
        <li><a href="{{ url_for('aflafrettir.category', cid=1) }}">Almenn frétt</a></li>
        {% for category in categories %}
          <li><a href="{{ url_for('aflafrettir.category', cid=category.id) }}">{{ category.name }}</a></li>
        {% endfor %}
      </ul>
    </div> <!-- ./panel-body -->
  </div> <!-- ./panel panel-default -->
</div> <!-- ./col-md-2 -->
{% endblock %}

{% block content_main %}
<div class="col-md-10" id="content_main">
  {% include "_warnings.html" %}

  <div class="panel">
    <div class="panel-heading">Fréttir</div> 
    <div class="panel-body">
      
    {% for post in posts %}
      <div class="row">
        <h2> {{ post.title }} </h2>
        <div class="img-resize col-xs-6 col-sm-4 col-md-2">
          <img src="{{ post.thumbnail }}" class="img-resize img-rounded" alt="A generic square placeholder image with rounded corners">
        </div>
        <div class="col-xs-6 col-sm-8 col-md-10"> <p class="post-body">{{ truncate(post.body, 500) }} </p></div>
        <p class="lead">
          <button class="btn btn-default">
            <a href="{{ url_for('aflafrettir.post', title=slugify(post.title), pid=post.id) }}">Lesa meira</a>
          </button>
        </p>
        <p class="pull-right">
          <span class="label label-default">
            <a href="{{ url_for('aflafrettir.category', cid=post.category.id) }}">{{ post.category.name }}</a>
          </span>
        </p>
        <ul class="list-inline">
          <li><a href="#">2 Days Ago</a></li>
          <li><a href="#"><i class="glyphicon glyphicon-comment"></i> 2 Comments</a></li>
          <li><a href="#"><i class="glyphicon glyphicon-share"></i> 14 Shares</a></li>
        </ul>
      </div> <!-- ./row -->
      <hr>
    {% endfor %}

    </div> <!-- ./panel-body -->
  </div> <!-- ./panel -->
</div> <!-- ./col-md-7 -->
{% endblock %}

