{% extends "base.html" %}

{% block content %}
{% include "_warnings.html" %}
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-9 offset-md-1" id="content">
        <div class="card">
            <div class="card-block">
                {% set ad_type = 1 %}
                {% for post in posts.items %}
                {% if loop.index0 is divisibleby(2) %}
                <div class="row"><!-- row-of-2-posts -->
                {% endif %}
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-12">
                                <h2> {{ post.title }} </h2>
                                <div class="wrap-text">
                                    <a href="{{ url_for('aflafrettir.post',
                                                        title=slugify(post.title),
                                                        pid=post.id,
                                                        lang_code=lang_code) }}">
                                        <img src="{{ post.thumbnail }}" class="img-resize" alt="Generic image">
                                    </a>
                                    <p> {{ truncate(post.body, 300)|safe }} </p>
                                </div><!-- ./wrap-text -->
                                </div> <!-- ./col-12 -->
                        </div> <!-- ./row -->

                        <div class="row"> <!-- row-post -->
                            <div class="col-12">
                                <p class="float-right">
                                    <span class="badge badge-secondary">
                                        <a href="{{ url_for('aflafrettir.post',
                                                            title=slugify(post.title),
                                                            pid=post.id,
                                                            lang_code=lang_code) }}">
                                            Lesa meira »
                                        </a>
                                    </span>
                                </p> <!-- ./float-right -->

                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <a href="{{ url_for('aflafrettir.post',
                                                            title=slugify(post.title),
                                                            pid=post.id,
                                                            lang_code=lang_code) }}">
                                            Birt {{ post.distance_in_time }}
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="{{ url_for('aflafrettir.post',
                                                            title=slugify(post.title),
                                                            pid=post.id,
                                                            lang_code=lang_code) }}">
                                            <i class="fas fa-comment"></i>
                                        </a>
                                        <a href="{{ url_for('aflafrettir.post',
                                                            title=slugify(post.title),
                                                            pid=post.id,
                                                            lang_code=lang_code) }}#disqus_thread">
                                            Álit
                                        </a>
                                    </li>
                                </ul> <!-- ./list-inline -->
                            </div> <!-- ./col-12 -->
                        </div> <!-- ./row-post -->
                    </div> <!-- ./col-6 col-sm-6 -->
                {% if loop.index is divisibleby(2) or loop.last %}
                </div> <!-- ./row-of-2-posts -->
                {% endif %}

                {% if (loop.index+2) is divisibleby(4) %}
                <div class="row"> <!-- row-ad -->
                    {% if  main_lg and ad_type == 1 %}
                    {% set ad = main_lg.pop() %}
                    <div class="col-12 col-sm-12 ad-main">
                        {% if ad.filename %}
                            {% if ad.url %}<a href="{{ ad.url }}" target="_blank">{% endif %}
                                <img src="{{ url(ad.filename) }}" alt="Auglýsing">
                            {% if ad.url %}</a>{% endif %}
                        {% elif ad.ad_html %}
                        {{ ad.ad_html|safe }}
                        {% endif %}
                    </div> <!-- ./col-12 col-sm-12 ad-main -->

                    {% set ad_type = 2 %}
                    {% elif main_sm and ad_type == 2 %}

                    {% for i in range(2) %}
                    {% if main_sm %}
                    {% set ad = main_sm.pop() %}
                    <div class="col-6 col-sm-6 ad-main">
                        {% if ad.filename %}
                            {% if ad.url %}<a href="{{ ad.url }}" target="_blank">{% endif %}
                                <img src="{{ url(ad.filename) }}" alt="Auglýsing">
                            {% if ad.url %}</a>{% endif %}
                        {% elif ad.ad_html %}
                        {{ ad.ad_html|safe }}
                        {% endif %}
                    </div> <!-- ./col-6 col-sm-6 ad-main -->
                    {% endif %}

                    {% endfor %}

                    {% set ad_type = 1 %}
                    {% elif main_lg and not main_sm and ad_type == 2 %}
                    {% set ad = main_lg.pop() %}
                    <div class="col-12 col-sm-12 ad-main">
                        {% if ad.filename %}
                            {% if ad.url %}<a href="{{ ad.url }}" target="_blank">{% endif %}
                                <img src="{{ url(ad.filename) }}" alt="Auglýsing">
                            {% if ad.url %}</a>{% endif %}
                        {% elif ad.ad_html %}
                        {{ ad.ad_html|safe }}
                        {% endif %}
                    </div> <!-- ./col-12 col-sm-12 ad-main -->
                    {% elif main_sm and not main_lg and ad_type == 1 %}
                    {% for i in range(2) %}
                    {% if main_sm %}
                    {% set ad = main_sm.pop() %}
                    <div class="col-6 col-sm-6 ad-main">
                        {% if ad.filename %}
                            {% if ad.url %}<a href="{{ ad.url }}" target="_blank">{% endif %}
                                <img src="{{ url(ad.filename) }}" alt="Auglýsing">
                            {% if ad.url %}</a>{% endif %}
                        {% elif ad.ad_html %}
                        {{ ad.ad_html|safe }}
                        {% endif %}
                    </div> <!-- ./col-6 col-sm-6 ad-main -->
                    {% endif %}
                    {% endfor %}
                    {% elif ad_type == 1 %}
                        {% set ad_type = 2 %}
                    {% elif ad_type == 2 %}
                        {% set ad_type = 1 %}
                    {% endif %}
                </div> <!-- ./row-ad -->
                {% endif %}
                {% endfor %}
            </div> <!--  ./card-block -->
        </div> <!--  ./card -->
        <nav class="footer-pagination" aria-label="Page Navigation">
            <ul class="pagination pagination-lg justify-content-center">
                {% if request.endpoint == 'aflafrettir.index' %}
                {% if not posts.has_prev %}
                <li class="page-item disabled"><a class="page-link" href="#">&laquo; {{ _('Fyrri síða') }}</a></li>
                {% else %}
                <li class="page-item"><a class="page-link" href="{{ url_for(request.endpoint, page=posts.page-1, lang_code=lang_code) }}">&laquo; {{ _('Fyrri síða') }}</a></li>
                {% endif %}
                {% if not posts.has_next %}
                <li class="page-item disabled"><a class="page-link" href="#">{{ _('Næsta síða') }} &raquo;</a></li>
                {% else %}
                <li class="page-item"><a class="page-link" href="{{ url_for(request.endpoint, page=posts.page+1, lang_code=lang_code) }}">{{ _('Næsta síða') }} &raquo;</a></li>
                {% endif %}
                {% endif %}
                {% if request.endpoint == 'aflafrettir.category' %}
                {% if not posts.has_prev %}
                <li class="page-item disabled"><a class="page-link" href="#">&laquo; {{ _('Fyrri síða') }}</a></li>
                {% else %}
                <li class="page-item"><a class="page-link" href="{{ url_for(request.endpoint, cid=request.view_args['cid'], page=posts.page-1, lang_code=lang_code) }}">&laquo; {{ _('Fyrri síða') }}</a></li>
                {% endif %}
                {% if not posts.has_next %}
                <li class="page-item disabled"><a class="page-link" href="#">{{ _('Næsta síða') }} &raquo;</a></li>
                {% else %}
                <li class="page-item"><a class="page-link" href="{{ url_for(request.endpoint, cid=request.view_args['cid'], page=posts.page+1, lang_code=lang_code) }}">{{ _('Næsta síða') }} &raquo;</a></li>
                {% endif %}
                {% endif %}
                {% if request.endpoint == 'aflafrettir.results' %}
                {% if not posts.has_prev %}
                <li class="page-item disabled"><a class="page-link" href="#">&laquo; {{ _('Fyrri síða') }}</a></li>
                {% else %}
                <li class="page-item"><a class="page-link" href="{{ url_for(request.endpoint, query=request.view_args['query'], page=posts.page-1, lang_code=lang_code) }}">&laquo; {{ _('Fyrri síða') }}</a></li>
                {% endif %}
                {% if not posts.has_next %}
                <li class="page-item disabled"><a class="page-link" href="#">{{ _('Næsta síða') }} &raquo;</a></li>
                {% else %}
                <li class="page-item"><a class="page-link" href="{{ url_for(request.endpoint, query=request.view_args['query'], page=posts.page+1, lang_code=lang_code) }}">{{ _('Næsta síða') }} &raquo;</a></li>
                {% endif %}
                {% endif %}
            </ul> <!-- ./pagination .pagination-lg -->
        </nav>
    </div> <!-- ./col-md-9 -->
    <div class="col-md-2 ad-right hidden-sm-down">
    {% block adbar %}
        {% if right_ads and lang_code != 'en' %}
            {% for ad in right_ads %}
            {% if ad.url %}<a href="{{ ad.url }}" target="_blank">{% endif %}
            <img src="{{ url(ad.filename) }}" alt="Auglýsing">
            {% if ad.url %}</a>{% endif %}
            {% endfor %}
        {% elif lang_code == 'en' %}
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- 250x300 -->
        <ins class="adsbygoogle"
             style="display:inline-block;width:300px;height:250px"
             data-ad-client="ca-pub-3097550301603731"
             data-ad-slot="4389418419"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
        {% endif %}
    {% endblock %}

    </div> <!-- ./col-md-2 -->
    {% endblock %}

    {% block footer_right %}
    <div class="col-md-9">
      <p class="text-center"> <strong>{{ _('Flokkar') }}</strong><br><hr></p>
    </div> <!-- col-md-9 -->

    <ul class="list-inline">
      <li>
        <a href="{{ url_for('aflafrettir.category',
                            cid=1,
                            lang_code=lang_code) }}">{{ _('Almenn frétt') }}</a>
      </li>
      {% for category in categories %}
      <li>
        <a href="{{ url_for('aflafrettir.category',
                            cid=category.id,
                            lang_code=lang_code) }}">{% if not lang_code  %}
                                                     {{ category.name }}
                                                     {% else %}
                                                     {{ category.name_en }}
                                                     {% endif %}
        </a>
      </li>
      {% endfor %}
    </ul> <!-- list-inline -->
</div> <!-- ./row -->
{% endblock %}

{% block disqus_comments %}
<script type="text/javascript">
  /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
  var disqus_shortname = 'aflafrettir';

  /* * * DON'T EDIT BELOW THIS LINE * * */
  (function () {
    var s = document.createElement('script'); s.async = true;
    s.type = 'text/javascript';
    s.src = '//' + disqus_shortname + '.disqus.com/count.js';
    (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
  }());
</script>
{% endblock %}

