{% extends "aflafrettir/index.html" %}

{% block header %}
{% endblock %}

{% block metas %}
{{ super() }}
    <meta property="og:title" content="{{ post.title }}"/>
    <meta property="og:type" content="article"/>
    <meta property="og:description" content="{{ truncate(post.body, 300, span=False)|safe }}"/>
    <meta property="og:image" content="{{ url_for('static',
                                                  filename='uploads/imgs/'+body_imgs[0],
                                                  _external=True) }}"/>
{% endblock %}

{% block ad_top %}{% endblock %}

{% block content %}
<div class="row" id="content">
    <div class="col-md-1"></div>

    <div class="col-md-9">
        {% include "_warnings.html" %}

        <div class="card">
            <div class="card-header">
                <h3>{{ post.title }}</h3>
            </div>
            <div class="card-block">
                <p class="card-text">
                    {{ post.body_html|safe }}
                    <div class="row post-like">
                        <div class="col-12 col-sm-12">
                            <div class="pull-right">
                                <div class="fb-like"
                                     data-href="{{ url_for('aflafrettir.post',
                                                           title=slugify(post.title),
                                                           pid=post.id,
                                                           _external=True,
                                                           lang_code=lang_code) }}"
                                     data-layout="button_count"
                                     data-action="like"
                                     data-show-faces="false"
                                     data-share="true"></div>
                            </div>
                        </div> <!-- ./col-12 col-sm-12 -->
                    </div> <!-- ./row -->
                </p> <!-- ./card-text -->
                <div id="disqus_thread"></div>
                <script type="text/javascript">
                    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
                    var disqus_shortname = 'aflafrettir';

                    /* * * DON'T EDIT BELOW THIS LINE * * */
                    (function() {
                       var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                       dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                       (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                    })();
                </script>
                <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>

            </div> <!-- ./card-block -->
        </div> <!-- ./card -->
    </div> <!-- ./col-md-9 -->
</div> <!-- ./row -->
{% endblock %}

{% block disqus_comments %}
{% endblock %}
