<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="10000">
    {% if top_ads and lang_code != 'en' %}
    <div class="carousel-inner">
        {% for ad in top_ads %}
        <div class="carousel-item {% if loop.first %}active{% endif %}">
            {% if ad.url %}<a href="{{ ad.url }}" target="_blank">{% endif %}
            <img src="{{ url(ad.filename) }}" alt="Auglýsing">
            {% if ad.url %}</a>{% endif %}
        </div> <!-- ./carousel-item -->
        {% endfor %}
    </div> <!-- ./carousel-inner -->
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
    {% elif lang_code == 'en' %}
    <div class="row justify-content-center">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- 728x90 -->
        <ins class="adsbygoogle"
             style="display:inline-block;width:728px;height:90px"
             data-ad-client="ca-pub-3097550301603731"
             data-ad-slot="1641580542"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
    {% endif %}
</div>
