<div id='fanback'>
  <div id='fan-exit'></div>
  <div id='aflafrettir-fb'>
    <div id='aflafrettir-widget'></div>
    <div class='remove-borda'></div>
    <iframe
      src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fpages%2FAflafr%C3%A9ttir%2F912698022080474&amp;width&amp;height=258&amp;colorscheme=light&amp;show_faces=true&amp;header=false&amp;stream=false&amp;show_border=false&amp;appId=1526822784207277" scrolling="no" frameborder="0" style="border:none; overflow:hidden; margin-top: -19px; width: 402px; height:258px;" allowTransparency="true"></iframe>
    <center>
  </center>
  </div>
</div>
