<nav class="navbar navbar-expand-md navbar-dark fixed-top">
    <a class="navbar-brand" href="{{ url_for('aflafrettir.index', lang_code=lang_code) }}">
      <img src="{{ url_for('static', filename='imgs/afla_logo.png') }}" />
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('aflafrettir.index', lang_code=lang_code) }}">{{ _('Forsíða') }} </a>
            </li>
            <li class="nav-item dropdown">
                <a data-toggle="dropdown" class="dropdown-toggle nav-link" href="#">{{ _('Flokkar') }}</a>
                <ul class="dropdown-menu drop-main">
                    <li>
                        <a class="dropdown-item" href="{{ url_for('aflafrettir.category', cid=1, lang_code=lang_code) }}">
                            {{ _('Almenn Frétt') }}
                        </a>
                    </li>
                    {% for category in categories %}
                    <li>
                        <a class="dropdown-item" href="{{ url_for('aflafrettir.category', cid=category.id, lang_code=lang_code) }}">
                            {% if not lang_code %}
                            {{ category.name }}
                            {% else %}
                            {{ category.name_en }}
                            {% endif %}
                        </a>
                    </li>
                    {% endfor %}
                </ul> <!-- ./dropdown-menu -->
            </li> <!-- ./dropdown nav-item -->
            {% if current_user.is_authenticated() %}
            <li class="nav-item dropdown">
                <a data-toggle="dropdown" class="dropdown-toggle nav-link" href="#">{{ _('Stjórnborð') }}</a>
                <ul class="dropdown-menu drop-main">
                    <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">{{ _('Prófíll') }}</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{{ url_for('admin.profile_index') }}">{{ _('Skoða') }}</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('admin.profile_edit') }}">{{ _('Breyta') }}</a></li>
                        </ul> <!-- ./dropdown-menu -->
                    </li> <!-- ./dropdown-submenu -->
                    <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">{{ _('Fréttir') }}</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{{ url_for('admin.news_index') }}">{{ _('Yfirlit') }}</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('admin.news_post') }}">{{ _('Ný Frétt') }}</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('admin.news_index', lang='en') }}">{{ _('Yfirlit Enska') }}</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('admin.news_post', lang='en') }}">{{ _('Ný Frétt Enska') }}</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('admin.news_category') }}">{{ _('Flokkar') }}</a></li>
                        </ul> <!-- ./dropdown-menu -->
                    </li> <!-- ./dropdown-submenu -->
                    <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">{{ _('Auglýsingar') }}</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{{ url_for('admin.ad_index') }}">{{ _('Yfirlit') }}</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('admin.ad_upload') }}">{{ _('Ný Auglýsing') }}</a></li>
                        </ul> <!-- ./dropdown-menu -->
                    </li> <!-- ./dropdown-submenu -->
                    <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">{{ _('Auglýsingar') }}</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{{ url_for('admin.ad_index') }}">{{ _('Yfirlit') }}</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('admin.ad_upload') }}">{{ _('Ný Auglýsing') }}</a></li>
                        </ul> <!-- ./dropdown-menu -->
                    </li> <!-- ./dropdown-submenu -->
                    <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">{{ _('Ýmislegt') }}</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{{ url_for('admin.about') }}">{{ _('Um Síðuna') }}</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('admin.make_list') }}">{{ _('Útbúa lista') }}</a></li>
                        </ul> <!-- ./dropdown-menu -->
                    </li> <!-- ./dropdown-submenu -->
                </ul> <!-- ./dropdown-menu -->
            </li> <!-- ./dropdown nav-item -->
            {% endif %}
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('aflafrettir.contact', lang_code=lang_code) }}">{{ _('Hafa samband') }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('aflafrettir.about', lang_code=lang_code) }}">{{ _('Um síðuna') }}</a>
            </li>
        </ul>

        <div class="dropdown">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle"><i class="fab fa-facebook-square fa-2x"></i></a>
            <ul class="dropdown-menu drop-right">
                <li>
                    <div class="fb-like-box" data-href="https://www.facebook.com/pages/Aflafréttir/912698022080474" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="false" data-show-border="true"></div>
                </li>
            </ul>
        </div> <!-- ./dropdown -->

        <div class="dropdown">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle"><i class="fas fa-user fa-2x"></i></a>
            <ul class="dropdown-menu drop-right">
                {% if not current_user.is_authenticated() %}
                <li><a class="dropdown-item" href="{{ url_for('auth.login') }}">{{ _('Innskráning') }}</a></li>
                {% elif current_user.is_authenticated() %}
                <li><a class="dropdown-item" href="{{ url_for('admin.profile_index') }}">{{ _('Stjórnborð') }}</a></li>
                <li><a class="dropdown-item" href="{{ url_for('auth.logout') }}">{{ _('Útskráning') }}</a></li>
                {% endif %}
            </ul>
        </div> <!-- ./dropdown -->

        <form action="{{ url_for('aflafrettir.search', lang_code=lang_code) }}" method="post" class="form-inline mt-2 mt-md-0" role="search">
            {{ g.search_form.hidden_tag() }}
            <div class="input-group">
                {{ g.search_form.search(**{'class':'form-control mr-sm-2', 'placeholder':'Leita'}) }}
                <button class="btn btn-outline-primary my-2 my-sm-0 submit-btn" type="submit">Leita</button>
            </div> <!-- ./input-group -->
        </form>
    </div> <!-- ./collapse navbar-collapse -->
</nav>
