{% extends "bootstrap/base.html" %}

{% block html_attribs %} lang="is" {% endblock %}

{% block head %}
    {{ super() }}
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
{% endblock %}

{% block title %} Aflafréttir.is {% endblock %}

{% block metas %}
    {{ super() }}
    <meta http-quiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
{% endblock %}

{% block navbar %}
<div class="navbar navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ url_for('aflafrettir.index') }}"><b>Aflafréttir.is</b></a>
      <a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="glyphicon glyphicon-chevron-down"></span>
      </a>
    </div> <!-- ./navbar-header -->

    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="{{ url_for('aflafrettir.index') }}">Forsíða</a></li>
        <li><a href="{{ url_for('aflafrettir.index') }}">Hafa samband</a></li>
        <li><a href="{{ url_for('aflafrettir.index') }}">Um síðuna</a></li>
      </ul>

      <ul class="nav pull-right navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="glyphicon glyphicon-user"></i>
          </a>
          <ul class="dropdown-menu">
            {% if not current_user.is_authenticated() %}
            <li><a href="{{ url_for('auth.login') }}">Innskráning</a></li>
            {% elif current_user.is_authenticated() %}
            <li><a href="{{ url_for('admin.profile_index') }}">Stjórnborð</a></li>
            <li><a href="{{ url_for('auth.logout') }}">Útskráning</a></li>
            {% endif %}
          </ul>
        </li> <!-- ./dropdown -->
      </ul>

      <div class="col-sm-3 col-md-3 pull-right">
        <form class="navbar-form" role="search">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term">
            <div class="input-group-btn">
              <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
            </div> <!-- ./input-group-brn -->
          </div> <!-- ./input-group -->
        </form>
      </div> <!-- ./col-sm-3 col-md-3 pull-right -->
    </div> <!-- ./navbar-collapse collapse -->
  </div> <!-- ./container -->
</div> <!-- ./navbar navbar-static -->
{% endblock %}


{% block content %}

{% block header %} {% endblock %}

<!-- Main content of site -->
<div class="container">
  <div class="no-gutter row">
    <!-- Beginning of left side of main content -->
        {% block content_left %} {% endblock %}
    <!-- End of left side of main content -->

    <!-- Beginning of main content -->
    {% block content_center %} {% endblock %}
    <!-- End of main content -->

    <!-- Beginning of right side of main content -->
    {% block content_right %} {% endblock %}
    <!-- End of right side of main content -->
  </div> <!-- ./no-gutter row -->
</div> <!-- ./container -->

{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
<script src="{{ url_for('static', filename='js/holder/holder.js') }}"></script>
{% endblock %}
