{% block document %}
<!DOCTYPE html>
<html {% block html_attrs %}{% endblock %}>
{% block html %}
  <head>
    <title>{% block title %}{% endblock %}</title>

    {% block metas %}
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport"
          content="width=device-width,
                   initial-scale=1.0,
                   maximum-scale=1.0,
                   user-scalable=0"/>
    <meta name="description"
          content="Aflafréttir - Sjávarútvegsfréttir um allt og alla"/>
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="mobile-web-app-capable" content="yes">

    <!-- Facebook Open Graph meta's -->
    <meta property="og:url" content="http://www.aflafrettir.is/frettir"/>
    <meta property="og:site_name" content="Aflafréttir"/>
    <meta property="fb:admins" content="100000026998299"/>
    <meta property="fb:app_id" content="1526822784207277"/>
    {% endblock %}

    {% block styles %}
		<!-- load Ink's css from the cdn -->
    <link rel="stylesheet"
          type="text/css" 
          href="http://cdn.ink.sapo.pt/3.1.10/css/ink-flex.min.css"/>
    <link rel="stylesheet" 
          type="text/css" 
          href="http://cdn.ink.sapo.pt/3.1.10/css/font-awesome.min.css"/>

    <!-- load Ink's css for IE8 -->
    <!--[if lt IE 9 ]>
    <link rel="stylesheet"
          type="text/css"
          media="screen"
          title="no title"
          charset="utf-8">
          href="http://cdn.ink.sapo.pt/3.1.10/css/ink-ie.min.css"
    <![endif]-->

    <!-- test browser flexbox support and load legacy grid if unsupported -->
    <script type="text/javascript"
            src="http://cdn.ink.sapo.pt/3.1.10/js/modernizr.js">
    </script>
    <script type="text/javascript">
      Modernizr.load({
        test: Modernizr.flexbox,
        nope : 'http://cdn.ink.sapo.pt/3.1.10/css/ink-legacy.min.css'
      });
    </script>
    {% endblock %}

    <body {% block body_attrs %}{% endblock %}>
    {% block body %}
      {% block nav_bar %}
      {% endblock %}

      {% block content %}
      {% endblock %}

      {% block footer %}
      {% endblock %}

      {% block scripts %}
      <script type="text/javascript"
              src="http://cdn.ink.sapo.pt/3.1.10/js/ink-all.min.js"></script>
      <script type="text/javascript"
              src="http://cdn.ink.sapo.pt/3.1.10/js/autoload.js"></script>
      {% endblock %}
    {% endblock %}
    </body>
  </head>
{% endblock %}
</html>
{% endblock %}
