{% extends "base.html" %}

{% block nav_bar %}
{% include "_navigation_bar.html" %}
{% endblock %}

{% block content %}
    <!--[if lte IE 9 ]>
    <div class="ink-alert basic">
      <button class="ink-dismiss">&times;</button>
      <p><strong>Þú ert að nota gamla útgáfu af Internet Explorer.</strong>
        Vinsamlegast <a href="http://browsehappy.com/">uppfærðu í nýrri vafra</a> fyrir betri upplifun af vefnum.
      </p>
    </div>
    -->
    {% block top_ad_carousel %}
    {% include "_carousel.html" %}
    {% endblock %}

    <section class="right-side-ads
                    hide-all
                    show-medium
                    show-large
                    show-xlarge
                    medium-push-right
                    large-push-right
                    xlarge-push-right">
      {% block right_side_ads %}
      {% include "_right_side_ads.html" %}
      {% endblock %}
    </section>

    <section class="highlight">
      <div class="highlight-wrapper">
      {% block main_content %}
      {% endblock %}
      </div> <!-- ./highlight-wrapper -->
    </section>

{% endblock %}

{% block footer %}
{% include "_footer.html" %}
{% endblock %}
